#!/bin/bash

# mbpkbdbacklightctl - control keyboard backlight for MacBook Pro
# Copyright (C) 2010  Chris Buchholz <christoffer.buchholz@gmail.com>
#
# This file is part of mbpkbdbacklightctl
#
# mbpkbdbacklightctl is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# mbpkbdbacklightctl is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with mbpkbdbacklightctl. If not, see <http://www.gnu.org/licenses/>.

. /etc/rc.conf
. /etc/rc.d/functions

PID=`pidof -o %PPID /usr/bin/mbpkbdbacklightctl`

case "$1" in
    start)
        stat_busy "Starting mbpkbdbacklightctl"
        [ -z "$PID" ] && /usr/bin/mbpkbdbacklightctl &
        if [ $? -gt 0 ]; then
            stat_fail
            exit 1
        else
            add_daemon mbpkbdbacklightctl
            stat_done
        fi
        ;;
    stop)
        stat_busy "Stopping mbpkbdbacklightctl"
        [ -n "$PID" ] && kill $PID &>/dev/null 2>&1
        if [ $? -ne 0 ]; then
            stat_fail
            exit 1
        else
            rm_daemon mbpkbdbacklightctl
            stat_done
        fi
        ;;
    restart)
        $0 stop
        sleep 1
        $0 start
        ;;
    *)
        echo "usage: $0 {start|stop|restart}" >&2
        exit 1
        ;;
esac
exit 0
